<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->depth('> 0')
    ->exclude('venv')
    ->exclude('Resources')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;
