<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="FrontendBundle Test Suite">
            <directory>./Tests</directory>
            <exclude>./Tests/Functional/TestBundle</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <!-- Exclude from code coverage -->
            <directory>./vendor</directory>
            <directory>./Tests</directory>
            <file>/tmp/rj_frontend/FunctionalTestDebugProjectContainer.php</file>
            <file>/tmp/rj_frontend/FunctionalTestUrlGenerator.php</file>
            <file>/tmp/rj_frontend/FunctionalTestUrlMatcher.php</file>
        </blacklist>
    </filter>
</phpunit>
